 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
     position:left;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}


li a:hover {
  background-color: grey;
  color: white;
}
body{
    font-family: Arial;
    background-color: grey;
}

header{
    background-color: azure;
    height:50px;
}
nav{
    background-color: azure;
    width:120px;
    height:200px;
    float: left;
    position: left;
    list-style:none;
}

main{
    background-color: grey;
}

footer{
    background-color: azure;
    clear: both;
}


table, th {
  border: 1px solid black;
  border-collapse: collapse;
}

body {
 background-color: #E0FFFF;
    background-clip: padding-box;
}

h1 {
  ;
}
p {

    font-family: "Times New Roman", Times, serif;
    text-transform: inherit;
    display: block;
    font-weight: 10px;
    letter-spacing: 2px;
    text-emphasis-position: left
    text:center;
    
}



